<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>
                Please enter the one time password <br />
                to verify your account
            </h6>
            <div><span>A code has been sent to </span> <small>{{username}}</small></div>
            <form #form="ngForm" (ngSubmit)="verify(form.value)">
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded" type="text" name="first" maxlength="1" #first
                        ngModel (keydown)="(first.value.length == 1) ? second.focus() : ''" />
                    <input class="m-2 text-center form-control rounded" type="text" name="second" maxlength="1" #second
                        ngModel (keydown)="(second.value.length == 1) ? third.focus() : ''" />
                    <input class="m-2 text-center form-control rounded" type="text" name="third" maxlength="1" #third
                        ngModel (keydown)="(third.value.length == 1) ? fourth.focus() : ''" />
                    <input class="m-2 text-center form-control rounded" type="text" name="fourth" maxlength="1" #fourth
                        ngModel (keydown)="(fourth.value.length == 1) ? first.focus() : ''" />
                </div>
                <div class="mt-4"><button type="submit" class="btn btn-primary px-4 validate"><span *ngIf="loading"
                            class="spinner-border spinner-border-sm mr-1"></span>Confirm</button>
                </div>
            </form>
        </div>
        <div class="card-2">
            <div class="content d-flex justify-content-center align-items-center">
                <span>Didn't get the code</span> <a class="text-decoration-none ms-3" (click)="resend()"><span *ngIf="loadingResend" class="spinner-border spinner-border-sm mr-1"></span>Resend</a>
            </div>
        </div>
    </div>
</div>