@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap');

body {
  margin: 0px;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(33, 37, 41);
  background-color: #ebf0ec;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

nav {
  background-color: #e9eef5;
  --bs-bg-opacity: 1;
  min-height: 40px;
}
#templatemo_nav_top * {
  font-size: 0.9em !important;
}
#templatemo_main_nav a {
  color: #212934;
}
#templatemo_main_nav a:hover {
  color: #69bb7e;
}
#templatemo_main_nav .navbar .nav-icon {
  margin-right: 20px;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-item {
  padding: 8px 3px;
}

.d-flex {
  display: flex;
  padding: 3px 4px;
  margin-left: 30px;
}

#navbarSupportedContent li:hover a {
  background: #69bb7e;
  border-radius: 10%;
  transition: all 0.3s;
}

.p-5 {
  padding: 3rem !important;
  margin-top: 50px;
}

.lentop {
  display: none;
  bottom: 40%;
  right: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
}

#wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

#lienhe {
  background-color: #e9eef5;
  padding-bottom: 15px;
}

.headline {
  padding: 15px;
}

.lentop {
  display: none;
  bottom: 13%;
  right: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
}

.lentop div {
  background: rgba(78, 193, 182, 1);
  border: 2px solid #fff;
  border-radius: 45px;
  padding: 11px 12.5px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.lentop img {
  width: 23px;
  height: 23px;
}

.lentop-cart {
  display: none;
  bottom: 20%;
  right: 15px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
}

.lentop-cart div {
  background: rgb(80 199 187);
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 8px 12.5px;
}

.lentop-cart img {
  width: 23px;
  height: 23px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--bs-navbar-active-color);
  font-size: 20px;
  font-style: italic;
}

.nav-item.dropdown.my-cart:after {
  position: absolute;
  right: 98%;
  top: 18%;
  content: attr(data-count);
  font-size: 84%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: #010101;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: #dbdd45;
  border-style: hidden;
}
a.dropdown-item.my-cart:after {
  position: absolute;
  right: 7%;
  top: 15%;
  content: attr(data-count);
  font-size: 76%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: #141619;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: #dbdd45;
  border-style: hidden;
}

.lentop-cart:after {
  position: absolute;
  right: -21%;
  top: -38%;
  content: attr(data-count);
  font-size: 100%;
  padding: 11px;
  border-radius: 999px;
  line-height: 0.75em;
  color: #141619;
  text-align: center;
  min-width: 1em;
  font-weight: bold;
  background: #dbdd45;
  border-style: none;
}
