.head-products {
  font-size: 2.5rem;
  background-image: url('https://res.cloudinary.com/dv29oltwi/image/upload/v1668404063/images/product/product-27_prw75l.webp');
  font-style: inherit;
  color: rgb(255, 255, 255);
  background-position: 5px;
}
.item-products {
  padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.thumb-wrapper {
  padding: 25px 15px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}
.wish-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
  cursor: pointer;
  font-size: 16px;
  color: #abb0b8;
}

.item .img-box {
  height: 120px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.item-price {
  font-size: 13px;
  padding: 2px 0;
}

.star-rating i {
  font-size: 14px;
  color: #ffc000;
}
.img-fluid {
  max-width: 100%;
  height: 166px;
  width: 245px;
}
h4 {
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

i.fa-solid.fa-heart:hover {
  color: rgb(130, 227, 130);
}

h4:hover {
  text-decoration: underline;
  color: aqua;
}

.thumb-wrapper {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.thumb-wrapper:hover {
  transform: scale(1.1);
}

.img-box {
  cursor: pointer;
}

.thumb-content .btn {
  color: #7ac400;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #7ac400;
  padding: 6px 14px;
  margin-top: 5px;
  line-height: 16px;
  border-radius: 20px;
}

.item-price s {
  opacity: 0.7;
  margin-right: 5px;
}

.item-price {
  font-size: 18px;
  padding: 2px 0;
}

.item h4,
.carousel .item p,
.carousel .item ul {
  margin-bottom: 5px;
}

i.fa-solid.fa-heart {
  font-size: 25px;
}

.pagination-products {
  padding-top: 20px;
}

.pagination-outer {
  text-align: center;
}
.pagination {
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  position: relative;
}
.pagination li a.page-link {
  color: #fff;
  background-color: #333;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0 8px;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
  font-size: 35px;
  line-height: 31px;
  font-weight: 300;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
  color: #fff;
  background-color: #92bb40;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.pagination li a.page-link:before,
.pagination li a.page-link:after {
  content: '';
  height: 100%;
  width: 100%;
  border: 5px dashed #92bb40;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before {
  opacity: 1;
  transform: rotate(20deg);
}
.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after {
  opacity: 1;
  transform: rotate(-20deg);
}
@media only screen and (max-width: 480px) {
  .pagination {
    font-size: 0;
    display: inline-block;
  }
  .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
  }
}
